@import './fonts';
@import './colors';
@import './index';
@import './header';
@import './portfolios';
@import './blog';
@import './slate-editor';

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', 'Helvetica', 'serif';
}

.absolute {
  position: absolute;
}

.base-page {
  padding: 150px 0 100px 0;
  color: black;
  background-color: #ecedee;

  .page-header {
    .page-header-title {
      font-weight: 700;
      color: black;
      display: inline-block;
      margin-bottom: 20px;
    }
  }
}

.clickable {
  cursor: pointer;
}

.error {
  font-weight: 700;
  color: red;
}

.portfolio-card-hand {
  display: inline-block;
}

.button-hand {
  display: block;
  margin: 10px;
}