@import './fonts';
@import './colors';
@import './index';
@import './header';
@import './portfolios';

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', 'Helvetica', 'serif';
}

.absolute {
  position: absolute;
}

.base-page {
  padding-top: 150px;
  color: black;
  background-color: #ecedee;

  .page-header {
    .page-header-title {
      font-weight: 700;
      color: black;
      display: inline-block;
      margin-bottom: 20px;
    }
  }
}

.clickable {
  cursor: pointer;
}